.profileBlock {
    position: relative;
    width: 1008px;
    height: 80vh;
    margin: 50px auto;
    background: #FEFEFF;
    border-radius: 5px;
    display: flex;
}

.profileInfo {
    position: absolute;
    width: 243px;
    height: 100%;
    background: #ececf9;
    border-radius: 5px 0 0 5px;
}

.profile {
    position: absolute;
    width: 243px;
    height: 216px;
    background: #D9D9F1;
    border-radius: 5px 0 0 0;
}

.profile img {
    position: absolute;
    width: 160px;
    right: 0;
    left: 0;
    margin: 10px auto;
}

.profile button {
    position: absolute;
    left: 0;
    right: 0;
    margin: 180px auto;
    width: 90px;
}

.numCards {

}

.packList {
    position: absolute;
    width: 765px;
    height: 100%;
    right: 0;
    border-radius: 8px;
}

.packList h2 {
    margin-top: 35px;
    position: absolute;
    left: 5%;
}

.packList input {
    position: absolute;
    left: 5%;
    right: 5%;
    top: 14%;
    bottom: 81.48%;

    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    box-sizing: border-box;
    border-radius: 2px;
}

.cards {
    position: absolute;
    bottom: 5%;
    top: 24%;
    left: 5%;
    right: 5%;
    background-color: #ececf9;
    border-radius: 3px;
}