.addPack {
    position: absolute;
    width: 395px;
    height: 221px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 283px;
    background: #F9F9FE;
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.title {
    display: flex;
    justify-content: space-between;
    margin: -15px 24px;
}
.title button {
    border: none;
    background: none;
}

.namePack {
    display: flex;
    flex-direction: column;
    position: relative;
}

.namePack span {
    margin-left: 24px;
}

.namePack input {
    position: absolute;
    top: 15px;
    left: 24px;
    right: 24px;
    border: none;
    border-bottom: #635D80 solid 1px;
    background: none;

}

.namePack input:focus {
    outline: none;
}
.addPackBtn {
    width: 100px;
    height: 30px;
    color: white;
    background-color: rgba(35, 37, 94, 0.4);
    border-radius: 30px;
    border: none;
    margin: 0 auto;
}