.loginBlock {
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 320px;
    height: 400px;

    background: #F9F9FE;
    border-radius: 5px;
}

.loginBlock .block1 {
    margin: 10px auto;
}


.loginBlock h3 {

    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;

    color: #2D2E46;
}

.block2 {
    height: 150px;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


.form input {
    font-family: inherit;
    border: 0;
    width: 270px;
    border-bottom: 2px solid gray;
    outline: 0;
    color: white;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    margin: 0 auto;
}

.form .email {
    margin-top: -30px;
}

.form .password {
    display: block;
    margin-top: -25px;
}
.btn {
    margin-top: -35px;
}

.btn .forgotPassword {
    margin-left: 40px;
}

.btn .buttonLogin {
    width:70px;
    display: inline-block;
    text-align:center;
    font-family: arial;
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    border: #23255e 1px solid;
    color: #23255e;
    padding: 3px 5px;
    margin: 20px 25px;
    transition: .5s;
    border-radius: 0px;
}

.buttonLogin:hover {
    top: 5px;
    transition: .5s;
    color: #21268F;
    border: #21268F 1px solid;
    border-radius: 10px;
}


.buttonLogin:active {
    color: #000;
    border: #1A1A1A 1px solid;
    transition: .07s;
    background-color: #FFF;
}

.block3 {
    height: 70px;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

.block3 span {
    margin: 0 auto;
}

.block3 .signUp {
display: inline-block;
    margin: 10px auto;
    /*font-family: 'SF UI Display';*/
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    color: #21268F;
}