.table {
    margin-top: 20px;
}
.tableBody {
    height: 50vh;
    overflow-x: auto;
    margin-top: 0px;
}

.delete {
    background: rgb(255, 125, 83);
    border: none;
    height: 20px;
    color: white;
}

.edit {
    background: rgba(35, 37, 94, 0.5);
    margin: 0 5px;
    border: none;
    height: 20px;
    color: white;
}

.learn {
    background: rgba(35, 37, 94, 0.9);
    border: none;
    height: 20px;
    color: white;
}

.table table {
    width:100%;
    table-layout: fixed;
    border: none;
}
.table thead th {
    font-weight: bold;
    text-align: left;
    color: white;
    border: none;
    padding: 10px 15px;
    background: rgba(35, 37, 94, 0.7);
    font-size: 14px;
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
}
.table tbody td {
    text-align: left;
    /*border-left: 1px solid #ddd;*/
    /*border-right: 1px solid #ddd;*/
    padding: 10px 15px;
    font-size: 14px;
    vertical-align: top;
}
.table tbody tr:nth-child(even){
    background: rgba(35, 37, 94, 0.4);
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.tfoot {
    height: 25px;
    background-color: #ddd;
}