@import "src/main/ui/App";

.recPasswordBlock {
  @extend %formBlock;

  .forgotPassword{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .forgotPasswordText {
      @extend %formTitle;
      margin-top: 30px;
    }

    form{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 200px;

      .input {
        text-align: center;
        input {
          @extend %input
        }
        p {
          width: 80%;
          margin: 20px;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #2D2E46;
          opacity: 0.5;
        }
      }

      button {
        @extend %button;
        background-color: $buttonColorDark;
        width: 120px;
        height: 35px;
      }
    }



    .loginIn {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
      a {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #21268F;
      }
    }
  }
}
