.cardsBlock {
  position: relative;
  width: 1008px;
  height: 80vh;
  margin: 50px auto;
  left: 0;
  right: 0;
  background: #fefeff;
  border-radius: 8px;

  display: flex;
  flex-direction: column;

  .title {
    margin: 24px 24px;
    cursor: pointer;
    font-size: 24px;
    width: 200px;
  }

  .input {
    margin-left: 24px;
    height: 30px;
    width: 690px;
    background: #ECECF9;
    opacity: 0.5;
    border: 1px solid #635D80;
    box-sizing: border-box;
    border-radius: 2px;
  }

  .addCard {
    position: absolute;
    right: 24px;
    height: 30px;
    width: 70px;
    border: 0;
    color: white;
    background: rgba(35, 37, 94, 0.4);
  }
}



