@import "src/main/ui/App";

.newPasswordBlock {
  @extend %formBlock;

  h2 {
    width: 244px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: right;
    color: #2D2E46;
  }
  p {
    width: 347px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
  }
  .btnNewPassword {

  }
}

