.newPasswordBlock {
    position: absolute;
    width: 413px;
    height: 480px;
    left: 434px;
    top: 84px;
    background: #F9F9FE;
    border-radius: 8px;
}
.newPasswordBlock h2{
    width: 244px;
    height: 33px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    text-align: right;
    color: #2D2E46;

}
.newPasswordBlock p{
    width: 347px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}
.btnNewPassword {

}